.summary-container {
  border: 1px solid darken(#f8f8f8, 10%);
  border-radius: 5px;
  margin: 20px 30px;
  padding: 1.5rem 3rem;
  background-color: #37af47;
  color: #ffffff;
  text-align: center;
}
.summary-container h1,
h3 {
  color: #ffffff;
}
