.container {
  background-color: #37af47;
  width: 70%;
  color: white;
  margin: 20px auto;
  font-size: 2fr;
  padding: 10px;
  border-radius: 14px;
}

.container:hover {
  background-color: rgb(1, 77, 1);
  transition: 1s;
}
.choosing-container {
  background-color: rgb(1, 77, 1);
  width: 70%;
  color: white;
  margin: 20px auto;
  font-size: 2fr;
  padding: 10px;
  border-radius: 14px;
}
